{{#contact}}
  <form id="update-form">
    <fieldset>
      <input class="form-control" name="contact[name]" value= {{name}}>
      <input class="form-control" name="contact[email]" value= {{email}}>
      <input class="form-control" name="contact[phone_number]" value= {{phone_number}}>
      <input class="form-control" name="contact[works_at]" value= {{works_at}}>
      <input class="btn btn-default" type="submit" data-id= {{id}} value="Update Contact">
    </fieldset>
  </form>
{{/contact}}
{{#appointment}}
  <form id="update-form">
    <fieldset>
      <input class="form-control" name="appointment[what]" value= {{what}}>
      <input class="form-control" name="appointment[when]" value= {{when}}>
      <input class="form-control" name="appointment[where]" value= {{where}}>
      <input class="btn btn-default" type="submit" data-id={{id}} value="Update appointment">
    </fieldset>
  </form>
{{/appointment}}
